<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="newdataEntities"
      connectionString="metadata=res://*/IPT.csdl|res://*/IPT.ssdl|res://*/IPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-sl6710g\sqlexpress;initial catalog=newdata;user id=sa;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>